
.ProductosCarrito  {
    display: flex ;
    flex-wrap: wrap; 
    justify-content: space-evenly !important;
    width: 100%;
    height: 100%;
    color: white;
    
    
}

.imgCarrito {
    width: 7%;
    height: 7%;
    object-fit: cover;
}